p
  | Hi #{name},
p
  | Your almost there! Click 
  a(href= `http://localhost:3000/validate?token=`+validationToken+`&id=`+id) here 
  |  to validate your email and finish your sign up 
p 
  | Your 1-step closer to optimizing your sales funnel to maximize leads outreach with Quote Generator
p
  |Any questions about how to use the software or errors can be directed to help@immoving.ca 