p
  | Hi #{name},
| Your almost there! Click 
a(href= process.env.DOMAIN_Front+`change-password?token=`+resetToken+`&id=`+id) here 
| to validate your email and finish your sign up.
| Your 1-step closer to optimizing your sales funnel to maximize leads outreach with Quote Generator.
| Any questions about how to use the software or errors can be directed to help@immoving.ca 
